// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #FE5D26;
    --ion-color-primary-rgb: 254,93,38;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #e05221;
    --ion-color-primary-tint: #fe6d3c;

    --ion-color-secondary: #F2C078;
    --ion-color-secondary-rgb: 242,192,120;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #d5a96a;
    --ion-color-secondary-tint: #f3c686;

    --ion-color-tertiary: #FAEDCA;
    --ion-color-tertiary-rgb: 250,237,202;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #dcd1b2;
    --ion-color-tertiary-tint: #fbefcf;

    --ion-color-success: #7EBC89;
    --ion-color-success-rgb: 126,188,137;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #6fa579;
    --ion-color-success-tint: #8bc395;

    --ion-color-warning: #C1DBB3;
    --ion-color-warning-rgb: 193,219,179;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #aac19e;
    --ion-color-warning-tint: #c7dfbb;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-orange: #FE5D26;
  --ion-color-apricot: #F2C078;
  --ion-color-almond: #FAEDCA;
  --ion-color-seagreen: #7EBC89;
  --ion-color-mossgreen: #C1DBB3;
}
