<ion-header>
  <ion-toolbar text-center color="success">
    <ion-title>BancoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <br>
  <h3>Bienvenido</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde dolorum culpa sapiente amet! Officia magni
    tempore culpa incidunt, minus debitis assumenda, saepe accusamus voluptatum dolorum hic amet. Et, cupiditate.
  </p>

  <img src="../../../assets/prestar.png" width="100">

  <form action="">
    <br>
    <ion-item>
      <ion-label position="floating">Monto solicitado</ion-label>
      <ion-input type="number" name="monto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad de cuotas</ion-label>
      <ion-input type="number" name="cuotas" required></ion-input>
    </ion-item>
    <br><br>
    <ion-button color="primary" href=""> Solicitar </ion-button>
  </form>
  <br>
  <ion-item routerLink="/login">
    <ion-label>Cerrar sesion</ion-label>
  </ion-item>

</ion-content>
<label style="color: #F2C078; background-color: #FAEDCA"><b>Powered By: CodeScriptes &copy;</b></label>